﻿body {
    margin: auto;
    color: black;
}
.thin_border{
    border: 1px solid;
    border-color: darkgray;
}
.container_width{
    width: 560px;
}
.caption_margin .caption_margin_list, .detail_cont {
    margin: 5px;
}

.caption_margin {
    margin-bottom: 20px;
    width: 600px;
}
.caption_margin_list {
    padding: 30px 30px 30px 10px;
    width: 600px;
}
.detail_cont {
    padding: 30px 30px 30px 10px;
    width: 620px;
}

.table_auto {
    margin: auto;
    margin-left: 10px;
}
.td_left {
    margin-left: 25px;
}
.td_left_start {
    margin-left: 0;
}

.img_dim {
    width: 50px;
    height: 50px;
    margin: 0;
    border: 0;
}

.img_td {
    vertical-align: top;
}

.inner_box {
    width: 200px;
    margin: 5px, 10px, 10px, 150px;
    float: right;
}
.txt_margin, .img_div {
    margin: 10px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.float_clear {
    clear: both;
}

.td_w {
    width: 240px;
}

.imjusttext {
    cursor: pointer;
}

#prod_filter_dropdown{
    width: 130px;
}
