﻿body {
color: black;
}
.caption_detail {
    width: 650px;
    padding: 0 75px 70px 40px;
}

.detail_caption_txt {
    margin-top: 20px;
    margin-bottom: 20px;
}

.detail_container {
    padding: 20px 35px 35px 20px;
}

.pr_title_image {
}

.pr_description_price {
    width: 380px;
    margin: 10px;
    margin-right: 0;
    padding: 10px;
}

.img_detail {
    margin-top: 20px;
    width: 55px;
    height: 55px;
}

.specifications_txt {
    margin:0;
}

.spec_list_txt {
    padding-left: 10px;
}

.pr__price_box {
    text-align: center;
    vertical-align: middle;
    min-width: 150px;
    min-height: 50px;
    line-height: 50px;
    margin-right: 5px;
}

.text_ontop{
    margin-top:0;
}